<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bbnl</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/assets/css/argon.css?v=1.2.1" type="text/css">
</head>
<body>
    <nav id="navbar-main" class="navbar navbar-horizontal navbar-main navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a href="#">
                <img class="img-fluid" src="~/assets/img/brand/header_main.jpg">
            </a>

        </div>
    </nav>

    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - bbnl @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="~/assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <!-- Argon JS -->
    <script src="~/assets/js/argon.js?v=1.2.1"></script>
    <!-- Demo JS - remove this in your project -->
    <script src="~/assets/js/demo.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
