@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "State";
    Layout = "../Shared/_innerLayout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        var urlParams = new URLSearchParams(window.location.search);

        var state = urlParams.get('stateName');
        var stateid = state.split('_')

        $.ajax({

            url: "/Details/countwrtstate/" + stateid[1],
            type: "post",
            contentType: 'application/x-www-form-urlencoded',

            success: function (result) {
                var obj = JSON.parse(result)
               // $('.statecount').empty();
                $('.districtcount').empty();
                $('.blockcount').empty();
                $('.gpcount').empty();
                $('.upgp').empty();
                $('.gpnoser').empty();
                $('.downgp').empty();

             //   $('.statecount').append(obj[0].state_count);
                $('.districtcount').append(obj[0].districts_count);
                $('.blockcount').append(obj[0].block_count);
                $('.gpcount').append(obj[0].gp_count);
                $('#upgp').append(obj[0].gpup_count);
                $('#gpnoser').append(obj[0].gpno_ser);
                
                $('#downgp').append(obj[0].gpdown_count);


            },
            error: function () {
                alert("Error occured!!")
            }
        });




        $('#state_id').change(function (event) {

            var stateid = this.value;//.split;(" _ ");
            //var data = {

            //    states_id: states_id

            //};

            $.ajax({
                url: "/Details/getdistrict/" + stateid,
                type: "post",
                contentType: 'application/x-www-form-urlencoded',

                success: function (result) {
                    var obj = JSON.parse(result)
                    $('#dist_id').empty();

                    $('#dist_id').append(`<option value="">${"--Select--"}</option>`);
                    $.each(obj.distModels, function (key, value) {

                        $('#dist_id').append(`<option  value="${value.districts_id}">${value.districts_name}</option>`);

                    });


                },
                error: function () {
                    alert("Error occured!!")
                }
            });


        });

        $('#dist_id').change(function (event) {

            var distid = this.value;//.split;(" _ ");
            

            $.ajax({
                url: "/Details/getblockwrtdist/" + distid,
                type: "post",
                contentType: 'application/x-www-form-urlencoded',

                success: function (result) {
                    var obj = JSON.parse(result)
                    $('#block_id').empty();
                    $('#gpdata').empty();
                    $('.districtcount').empty();
                    $('.blockcount').empty();
                    $('.gpcount').empty();
                    $('#upgp').empty();
                    $('#downgp').empty();
                    $("#gpnoser").empty();
                    //   $('.statecount').append(obj[0].state_count);
                    $('.distdiv').css("display", "none");
                    $('.blockdiv').css("display", "block");
                    $('.blockcount').append(obj.blockModels.length);
                    $('.gpcount').append(obj.countmodel.gp_count);
                    $('#upgp').append(obj.countmodel.gpup_count);
                    $('#downgp').append(obj.countmodel.gpdown_count);
                   // $('#gpnoser').append("1");
                   // alert(obj.countmodel.gpnoser_count)
                    $('#gpnoser').append(obj.countmodel.gpnoser_count);
                    $('#block_id').append(`<option value="">${"--Select--"}</option>`);
                    $.each(obj.blockModels, function (key, value) {

                        $('#block_id').append(`<option  value="${value.blocks_id}">${value.blocks_name}</option>`);

                    });
                },
                error: function () {
                    alert("Error occured!!")
                }
            });

        });

        $('#block_id').change(function (event) {

            var block = this.value;//.split;(" _ ");


            $.ajax({
                url: "/Details/getgpwrtblock/" + block,
                type: "post",
                contentType: 'application/x-www-form-urlencoded',
                data: { block: block, type: "gp" },
                success: function (result) {
                    var obj = JSON.parse(result)
                    $('#gpdata').empty();
                    $('.gpcount').empty();
                    $('#upgp').empty();
                    $('#downgp').empty();
                    $("#gpnoser").empty();
                    $('.blockdiv').css("display", "none");


                   // const gpstatus = obj.gpModels(v => up_status == "1");

                    var downgp = $.grep(obj.gpModels, function (v) {
                        return v.up_status == "1";
                    });
                    var upgp = $.grep(obj.gpModels, function (v) {
                        return v.up_status == "0";
                    });
                    var noser = $.grep(obj.gpModels, function (v) {
                        return v.up_status == "2";
                    });
                    console.log(obj.gpModels)
                    $('.gpcount').append(obj.gpModels.length);

                    $('#upgp').append(upgp.length);
                    $('#downgp').append(downgp.length);
                    $("#gpnoser").append(noser.length)
                    $.each(obj.gpModels, function (key, value) {
                        //if (value.up_status == "1") {
                        $('#gpdata').append(`<tr style="color:${value.up_status == "1" ? "red" : (value.up_status == "0" ? "green" : "orange")}"> <td>${key + 1}</td> <td>${value.states_name ?? ""}</td> <td>${value.districts_name ?? ""}</td> <td>${value.blocks_name ?? ""}</td> <td>${value.gp_name ?? ""}</td> <td>${value.up_status == "1" ? "DOWN" : (value.up_status == "0" ? "UP" : "Service Not Available")} <td>${ ((value.up_status == "0" || value.up_status == "2")?"":value.down_resion)}</td> </tr>`);
                        //}
                        //else {
                        //    $('#gpdata').append(`<p style="color:green" onclick="getvillage(${value.gp_id ?? ""})" id="gp${value.gp_id ?? ""}" class="district-list">${value.gp_name ?? ""}</p>`);
                        //}
                    });

                },
                error: function () {
                    alert("Error occured!!")
                }
            });

        });

        $("#nextbtn").click(function () {
            $('#otpdiv').css("display", "block");
        });


    })

</script>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    @*<h6 class="h2 text-white d-inline-block mb-0">Registration Data</h6>*@
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>

                            <li class="breadcrumb-item active" aria-current="page">GP Details</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <!--<div class="col-xl-3 col-md-6">
                    <div class="card card-stats">-->
                        <!-- Card body -->
                        <!--<div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">State</h5>
                                    <span class="h2 font-weight-bold mb-0 statecount">Loading...</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>-->
                <div class="col-xl-3 col-md-6 distdiv">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">District</h5>
                                    <span class="h2 font-weight-bold mb-0 districtcount">Loading...</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                        <i class="ni ni-chart-pie-35"></i>
                                    </div>
                                </div>
                            </div>
                            @*<p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="text-nowrap">Since last month</span>
                    </p>*@
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 blockdiv">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Block</h5>
                                    <span class="h2 font-weight-bold mb-0 blockcount">Loading...</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                        <i class="ni ni-money-coins"></i>
                                    </div>
                                </div>
                            </div>
                            @*<p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="text-nowrap">Since last month</span>
                    </p>*@
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 gpdiv">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">GP (<span class="text-success" id="upgp"></span>/<span class="text-danger" id="downgp"></span>/<span style="color:orange"  id="gpnoser"></span>)</h5>
                                    <span class="h2 font-weight-bold mb-0 gpcount">Loading...</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                        <i class="ni ni-chart-bar-32"></i>
                                    </div>
                                </div>
                            </div>
                            @*<p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="text-nowrap">Since last month</span>
                    </p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">@ViewData["state_name"]</h3>
                </div>
                <!-- Light table -->
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="validationDefault04">District </label>
                                <select class=" form-control" id="dist_id">
                                    <option value="">--Select--</option>
                                    @foreach (distModel dist in (List<distModel>)ViewData["distList"])
                                    {
                                        <option value="@dist.districts_id">@dist.districts_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="validationDefault04">Block </label>
                                <select class=" form-control" id="block_id">
                                    <option value="">--Select--</option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th>Sr. No</th>
                                    <th>State</th>
                                    <th>District</th>
                                    <th>Block</th>
                                    <th>GP</th>
                                    <th>Status</th>
                                    <th>Reason</th>

                                </tr>

                            </thead>
                            <tbody class="list" id="gpdata">
                               

                            </tbody>
                        </table>
                    </div>
                    <!--Card footer-->
                    @*<div class="card-footer py-4">
            <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <i class="fas fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="fas fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>*@
                </div>
        </div>
    </div>


</div>
