
@{
    ViewData["Title"] = "Success";
    Layout = "../Shared/_innerLayout.cshtml";
}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Registration Form</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Success</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    @*<a href="#" class="btn btn-sm btn-neutral">New</a>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6 success-container">
    <div class="row">
        <div class="col">
            <div class="card-wrapper">



                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Success</h3>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-8">
                                @*<p class="mb-0">
                                    Registration Completed
                                </p>*@
                                <p style="font-weight: 500;"><a asp-action="Pdf" asp-controller="registration">Registration Completed, click here to download registration details </a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>