@{
    ViewData["Title"] = "Index";
    //Layout = "../Shared/_innerLayout.cshtml";
    Layout = "../Shared/_gpLayout.cshtml";
}

<div class="main-content">
    <!-- Header -->
    <div class="header bg-primary  pb-7 h-76vh">
        <div class="container">
            <div class="header-body">

            </div>
        </div>
    </div>
</div>